* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: serif, sans-serif;
  width: fit-content;

  #scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(225, 225, 225, 0.05);
  }
}
.App {
  overflow-x: clip;
}
.add {
  display: flex;
}
.ap {
  display: unset !important;
  margin: 0 1em !important;
}
.bu {
  background: rgba(225, 225, 225, 0.05) !important;
}
html {
  background: black;
}
.PageNotFound {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  h1 {
    color: #ebebeb;
    font-size: 3em;
    margin-bottom: 1em;
  }
  h2 {
    color: #ebebeb;
    margin-top: 1em;
    margin-bottom: 2em;
  }
  .li {
    color: #14ff00;
    border-bottom: solid 2px #14ff00;
  }
}
select {
  cursor: pointer;
}
.variant {
  outline: none;
  border: none;
  color: #ebebeb;
  background: none;
  font-size: 1.25em;
  margin: 0em auto;

  @media screen and (max-width: 325px) {
    margin: 1em 0em 0em -1em;
  }
}
.variant-form {
  display: inline-block;
  margin: 0em 4em;
}
input.quantity.number {
  cursor: default;
  width: 15px;
}
