.side-container {
  .bottum {
    bottom: 1em;
    left: 2em;
    margin-top: 3em;

    .subtotal {
      font-size: 1.2em;
      position: relative;
      margin-bottom: 0.5rem;

      .cartLabel {
        letter-spacing: 1px;
        position: relative;
      }
    }

    .checkout-btn {
      color: #212121 !important;
      text-align: center;
      display: block;
      letter-spacing: 4px;
      border: solid #ebebeb 2px;
      background-color: #ebebeb;
      margin-bottom: 1rem;
      border-radius: 4px;
      font-size: 1.5rem !important;
      padding: 0.5em 3em;
      right: 1em;

      &:hover {
        background-color: #212121;
        color: #ebebeb !important;
      }
    }
  }

  &:hover {
    background-color: #212121;
    color: #ebebeb !important;
  }
  p {
    letter-spacing: 1px;
  }
  .empty {
    font-size: 1.5em;
    display: flex;
    left: 2em;
    margin-top: 7em;
  }
}
.cart_exit {
  outline: none;
  background-color: transparent;
  display: flex;
  border: none;
  color: #ebebeb;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: auto;
}

.bp {
  background-color: #212121 !important;
}
.item {
  display: block;
  margin: 1rem;
  position: relative;
}
.quant {
  width: 6rem;
  margin-right: 0 !important;
  display: inline-block;
  margin-top: 0;
}
.remove {
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  font-size: 0.7em;
  background: none;
  border: none;
  color: #ebebeb;
  outline: none;
}

.divide {
  border-bottom: 1px solid #ebebeb;
  margin: 2rem 1rem;
}
.item-price {
  margin-left: 1rem;
}
.item-img {
  margin-left: 1rem;
}
.cart-quant {
  display: inline-block;
  width: 10px;
  cursor: pointer;
  margin-left: 2rem;
  background: none;
  border: none;
  color: #ebebeb;
  font-size: 1em;
  outline: none;
}
.__debug-1.am.ap.bh.bi.bl.bo.bp.bq {
  height: -webkit-fill-available;
}
.toCart {
  background: green !important;
}
